* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 20px;
  background:
    radial-gradient(circle at top, #073106 0%, #050505 40%);
}

.header {
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  background: rgba(255,255,255,0.03);

  backdrop-filter: blur(20px);
}

.logo {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 10px;

  background: linear-gradient(
    90deg,
    #04e688,
    #03a303,
    #0af172
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #4ade80;
  font-weight: bold;
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #4ade80;

  box-shadow: 0 0 10px #4ade80;
}

.dashboard {
  margin-top: 25px;

  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 25px;
}

.ranking,
.clicker {
  min-height: 700px;

  border-radius: 32px;

  background: rgba(255,255,255,0.03);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(20px);

  padding: 25px;
}

.ranking h2 {
  margin-bottom: 30px;

  font-size: 28px;
}

.player {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  margin-bottom: 15px;

  border-radius: 18px;

  background: rgba(0,0,0,0.4);

  transition: 0.3s;
}

.player:hover {
  transform: translateY(-2px);

  border: 1px solid #0ef36d;
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.click-button {
  width: 320px;
  height: 320px;

  border-radius: 50%;
  border: none;

  font-size: 120px;

  cursor: pointer;

  background:
    linear-gradient(
      135deg,
      #00ff0da9,
      #78f558,
      #0dffa2
    );

  color: white;

  box-shadow:
    0 0 60px rgba(176, 233, 138, 0.6);

  transition: 0.2s;
}

.click-button:hover {
  transform: scale(1.05);
}

.click-button:active {
  transform: scale(0.95);
}

.counter {
  margin-top: 50px;

  font-size: 72px;
  font-weight: 900;

  background: linear-gradient(
    90deg,
    #0f9902,
    #97e900
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  width: 100%;

  margin-top: 25px;
  padding: 20px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255,255,255,0.03);

  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 20px;
}

.flip {
  animation: flip 1s ease;
}

@keyframes flip {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.4);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }

}